<!DOCTYPE html>
<link rel="shortcut icon" type="image/gif" href="{{STATIC_URL}}images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/bijou.min.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/main.css"/>
<html>
    <head>
        <title>The Automator</title>
    </head>

    <body style="margin-top:60px">
        <div class="navbar fixed">
            <div class="container">
                <h4 class="pull-left"><a href="{{BASE_URL}}" style="color:black">The Automator</a></h4>
                {% if user.is_authenticated %}
                    <h4 class="pull-right"><a href="{{BASE_URL}}admin/logout?next={{BASE_URL}}" style="color">Log out</a></h4>
                {% endif %}
            </div>
        </div>
        {% load i18n %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
