{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% blocktrans %}
<h4 class="explainer">HELLO, I AM THE AUTOMATOR.<br/>I AM A GENERIC TOOL FOR AUTOMATING YOUR WEB SESSIONS.</h4>
{% endblocktrans %}
<form action=".", method="post">{% csrf_token %}
    <table class="form-table">
    {{ form.as_table }}
        <tr></tr>
        <tr>
            <td></td><td><input class="button primary small" type="submit" value="{% trans "AUTOMATE" %}" /></td>
        </tr>
    </table>
</form>
{% endblock %}
