{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% blocktrans %}
<h4 class="explainer">
    THE OBJECT BELOW IS AN INTERACTIVE TREEMAP OF YOUR REQUESTED PAGE.</br></br>
    YOU CAN CLICK AROUND ON THE TREEMAP AND DEFINE WHICH AUTOMATED ACTIONS YOU WOULD LIKE ME TO TAKE ON THIS PAGE.
</h4>
{% endblocktrans %}
<div id="viewport" style="width:{{viewport_width}}px;height:{{viewport_height}}px">
    <image id="screenshot" style="width:{{page_width}}px;height:{{page_height}}px" src="{{MEDIA_URL}}images/screenshots/{{screenshot}}">
</div>
<script src="{{STATIC_URL}}javascript/visualization/magick_scroll.js"></script>
{% endblock %}
